# Переменые среды для Docker Compose (выбор какой бэкенд запуститься)
# 'api' -> python бэкенд
# 'mock' -> мок
COMPOSE_PROFILES=api

# Ports
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=5173
MOCK_PORT=3000

# PostgreSQL
POSTGRES_DB=betapp
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Backend (URL внутри Docker-сети, поэтому там всегда 5432 как default PostgreSQL порт)
DATABASE_URL=postgresql+psycopg2://user:password@db:5432/betapp
